<%- include('includes/head.ejs') %> 

    <h1>Hello World full mvc</h1>
    Nome: <%= users.name %><br>
    Idade: <%= users.year %><br>
    Login: <%= users.login != false ? 'Sim' : 'Não' %><br>
    token: <%= csrfToken %> 
    
    
<%- include('includes/footer.ejs') %> 