<%- include('includes/head.ejs') %> 
<%- include('includes/contactsnavbar.ejs') %> 

    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center text-info">
                      Contacts
                </h1>
                <p class="lead text-center">
                    Update your contact below
                </p>
             <%- include('includes/messages.ejs') %> 
             <form action="/contacts/<%= contacts._id %>" method="POST" id="Contacts">
                <!-- csrf -->
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-group">
                  <input type="hidden" name="_id" value="<%= contacts._id %>">
                  <input type="hidden" name="user_email" value="<%= contacts.user_email %>">
                  <label for="name">Name</label>
                  <input value="<%= contacts.name %>" type="text" required name="name" class="form-control" id="name" placeholder="name of contacts">
                </div>
                <div class="form-group">
                  <label for="email">E-mail</label>
                  <input value="<%= contacts.email %>"  type="email" required name="email" class="form-control" id="email" placeholder="type your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input value="<%= contacts.phone %>"  type="tel" name="phone" required class="form-control" id="phone" placeholder="type your phone">
                  </div>
                <button type="submit" id="register" class="btn btn-info w-100">Save edit</button>
              </form>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>

    
    
<%- include('includes/footer.ejs') %> 